[submodule "TritonTranslator"]
	path = TritonTranslator
	url = https://github.com/Colton1skees/TritonTranslator.git
[submodule "unicorn-net"]
	path = unicorn-net
	url = https://github.com/FICTURE7/unicorn-net.git
[submodule "LLVMSharp"]
	path = LLVMSharp
	url = https://github.com/Colton1skees/LLVMSharp.git
